@charset "UTF-8";

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  width: 90%;
}

details {
  border: 1px solid rgb(128, 0, 128);
  padding: 8px;
}

summary {
  background-color: rgba(128, 0, 128, 0.4);
  font-size: 1.1em;
  padding: 8px;
}

summary:hover {
  cursor: pointer;
}

.principal ul {
  list-style-type: disc;
}

.principal li {
  padding: 4px;
}

.principal li a {
  background-color: rgba(128, 0, 128, 0.1);
  display: inline-block;
  margin: 2px 0;
  padding: 2px;
  text-decoration: none;
}

.principal li a:hover {
  text-decoration: underline;
}

.principal li:hover {
  background-color: rgba(128, 0, 128, 0.1);
}

.atividade {
  border: 2px solid purple;
  margin: 24px 0;
  padding: 8px;
}

.atividade h1,
.atividade h2,
.atividade h3,
.atividade h4 {
  color: purple;
}

.exemplo {
  border: 2px solid gray;
  max-width: 100%;
  padding: 8px;
}

code {
  background-color: lightgray;
  padding: 2px;
}

li {
  padding: 5px 0;
}