@charset "utf-8";

.menu-responsivo {
  position: fixed;
  left: -3px;
  top: 71px;
  background-color: white;
  border-right: 1px solid lightgray;
  height: 100vh;
  overflow-x: hidden;
  padding: 16px 0;
  transition: 0.3s ease-out;
  width: 0;
  z-index: 1;
}

.menu-responsivo details {
  padding: 5px 5px 5px 15px;
}

.details-ultimo .ul-menu {
  margin-bottom: 80px
}

.menu-responsivo summary {
  font-weight: bold;
  padding: 5px;
}

.menu-responsivo summary:hover {
  cursor: pointer;
}

.menu-responsivo ::marker {
  color: red;
}

.ul-menu > li {
  margin-left: 20px;
  margin-bottom: 6px;
  padding: 3px 5px;
}

.menu-responsivo ul > li a:hover {
  text-decoration: underline;
}

.menu-responsivo a {
  font-size: 14px;
}

.menu-responsivo .link-ativo {
  background-color: rgba(128, 0, 128, 0.4);
  border-left: 4px solid rgba(128, 0, 128, 0.8);
  margin-left: 24px;
}

.subdivisao {
  font-weight: 500;
  padding: 5px 0;
}

.ul-interno-menu li {
  margin: 6px 6px 6px 12px;
  padding: 2px 4px;
}

.ul-interno-menu .link-ativo {
  margin-left: 17px;
}

.responsivo {
  width: 260px;
}