@charset "utf-8";

header {
  padding: 8px;
  text-align: center;
}

.materia {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid red;
  height: 40vh;
  padding: 8px 16px;
}