@charset "utf-8";

@media (min-width: 600px) {
  /* HEADER */
  .index-header {
    justify-content: center;
  }

  header h1 {
    text-align: center;
  }

  #menu-icone {
    display: none;
  }


  /* MENU LATERAL */
  #menu-lateral {
    width: 260px;
  }


  /* INDEX */


  /* CONTEÚDO: INTRODUÇÃO, EXEMPLOS E EXERCÍCIOS */
  .container-principal {
    margin-left: 260px;
  }

  /* FOOTER */
  .footer-index {
    margin-left: 0;
    width: 100%;
  }

  footer {
    margin-left: 260px;
    width: calc(100% - 260px);
  }
}